# Composer files
composer.phar
vendor/

# NPM files
node_modules/
package-lock.json

# Local configs
config/autoload/*.local.php

# Binary gettext files
*.mo

# Data
data/logs/
data/cache/
data/sessions/
data/tmp/
temp/

# Misc.
config/application/
public/css/
public/js/
.ftpconfig
.npmrc
