# Composer files
composer.phar
vendor/

# NPM files
node_modules/

# Local configs
config/application/
config/autoload/*.local.php
config/development.config.php

# Misc.
.vscode/

install-providers.sh
